body::before {
    content: "";
    position: fixed;
    background: black url(new.jpg) top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
